# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pcb
*.pdb

# Compiled Dynamic libraries
*.so*
*.dll
UltimateDownloadManager/UltimateDownloadManager

# Compiled Static libraries
*.lai
*.la
*.a

# Environment and autosave files
*.user
*.autosave
*.ilk
*.manifest

# Makefiles
Makefile
Makefile.Debug
Makefile.Release

# Moc files
moc_*.cpp

# UI temp headers
ui_*.h
