# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so*
UltimateDownloadManager/UltimateDownloadManager

# Compiled Static libraries
*.lai
*.la
*.a

# Environment and autosave files
*.user
*.autosave

# Makefiles
Makefile

# Moc files
moc_*.cpp

# UI temp headers
ui_*.h
